#console_box {
  box-sizing: border-box;
  border: 2px solid whitesmoke;
  font: 16px/1.25 Monaco, Consolas, "Roboto Mono", "Ubuntu Monospace", monospace;  
}
#console_output {
  padding: 8px;
  padding-bottom: 0;
}
#console_input {}
.console {
  border-left: 8px solid gray;
  padding: 8px;
  margin-bottom: 8px;
  background-color: black;
  white-space: pre;
  overflow: auto;
}
.console.log {
  color: silver;
}
/* ie-7 */
@media screen\9 {
  .console {
    /*scroller fix*/
    overflow-y: hidden;
    padding-bottom: 24px;
  }
}
 
